Index:
  Background: Build
  StandardLibrary: True
CompileFlags:
  Add: [-I/usr/include/libevdev-1.0]
  CompilationDatabase: build
Style:
  FullyQualifiedNamespaces: True
Diagnostics:
  ClangTidy:
    FastCheckFilter: None
  UnusedIncludes: Strict
  Includes:
    MissingIncludes: Strict
Hover:
  ShowAKA: True
